.checkoutBtn {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 1prem;
  justify-content: center;
  line-height: 1em;
  width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.checkoutBtn:active,
.checkoutBtn:hover {
  outline: 0;
}

.checkoutBtn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.checkoutBtn:hover span {
  background: none;
}

.checkoutBtn:active {
  transform: scale(0.9);
}

.text {
  color: white;
}

.deleteBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition: transform 1s ease-in-out, color 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.svgIcon {
  width: 12px;
  transition: transform 0.5s ease-in-out;
}

.svgIcon path {
  fill: white;
}

.deleteBtn:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.deleteBtn:hover .svgIcon {
  width: 30px;
  transform: translateY(60%);
}

.deleteBtn::before {
  position: absolute;
  top: -23px;
  content: "Empty";
  color: white;
  transition: font-size 0.5s ease-in-out, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out, color 0.5s ease-in-out;
  font-size: 2px;
}

.deleteBtn:hover::before {
  font-size: 8px;
  opacity: 1;
  transform: translateY(30px);
  color: rgba(255, 255, 255, 0.9);
}
