.popupMessage {
  text-align: center;
  width: 70vw;
  max-width: 90vw;
  position: fixed;
  font-size: 1.25rem;
  font-weight: 900;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(to right, #1f4c65, #317093);
  color: #fff;
  padding: 1rem 40px;
  border-radius: 20px;
  z-index: 99999999999999999999999;
  animation: slideIn 0.5s ease forwards, bounce 0.5s ease-in-out 0.5s forwards,
    slideOut 0.5s ease forwards 3s; /* Slide in, bounce, and slide out animations */
}

@keyframes slideIn {
  from {
    top: -100px;
  } /* Start from above the viewport */
  to {
    top: 2rem;
  } /* Move to top of viewport */
}

@keyframes bounce {
  0%,
  100% {
    top: 2rem;
  } /* Start and end position */
  50% {
    top: 1.5rem;
  } /* Bounce up */
}

@keyframes slideOut {
  from {
    top: 2;
  } /* Start from top of viewport */
  to {
    top: -100px;
  } /* Move back above the viewport */
}
