html::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 10px;
}

html::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #94949c6e;
  border-radius: 4px;
}

.App {
  background: #212121;
  min-height: 100vh;
  overflow-y: scroll;
  padding-bottom: 5rem;
}

.App * {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  gap: 0.5rem;
}

.navIcon {
  width: 20px;
  padding: 1rem 2rem;
}

#cartCount {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}

@media screen and (max-width: 768px) {
  .navIcon {
    width: 17px;
    padding: 0.5rem 1rem;
  }
}
