.App {
  min-height: 100svh;
  background: #212121;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  gap: 0.5rem;
}

.logo {
  width: 25px;
  height: 25px;
  margin: 0.3rem 0;
  margin-top: 0.5rem;
}

.navIcon {
  width: 25px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 20px;
    height: 20px;
  }

  .navIcon {
    width: 17px;
  }
}
