html::-webkit-scrollbar,
.App::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 10px;
}

html::-webkit-scrollbar-thumb,
.App::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #94949c6e;
  border-radius: 4px;
}

html {
  min-height: 90vh;
  background: #212121 !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 3rem;
}

.App * {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  gap: 0.5rem;
}

.navIcon {
  width: 20px;
  padding: 1rem 2rem;
}
